a{
    font-family: 'Core Sans A 55 Medium W01 Rg';
    font-size: medium;
    white-space: nowrap;
    height: fit-content;
}

.MyButton{
    width: auto;
    position:relative;
    background: linear-gradient(90deg, rgb(116, 17, 203) 0%, 44.0476%, rgb(110, 23, 148) 88.0952%, 94.0476%, rgb(109, 23, 140) 100%);
    color: aliceblue;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 1px;
}

.MyButton__arrow{
    height: 30%;
    position: absolute;
    margin: 2px 10px;
    filter: invert(100%) sepia(5%) saturate(7479%) hue-rotate(49deg) brightness(113%) contrast(116%);
}

.vertical__center{
    position: relative;
    padding: 1em 2em;
    padding-right: 4em;
}

.MyButton__bg1{
    background: linear-gradient(90deg, rgb(237, 54, 255) 0%, 0%, rgb(237, 54, 255) 0%, 50%, rgb(163, 54, 255) 100%);
}

.MyButtonConviction{
    width: auto;
    position:relative;
    border: 1px solid #6F14A1;
    color: #6F14A1;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 1px;
}

.MyButtonConviction__arrow{
    height: 30%;
    position: absolute;
    margin: 2px 10px;
    filter: brightness(0) saturate(100%) invert(14%) sepia(71%) saturate(7355%) hue-rotate(279deg) brightness(68%) contrast(95%);
}

.MyButtonCard__arrow{
    width: auto !important;
    display: inline !important;
    height: 30%;
    position: absolute;
    margin: 2px 10px;
    filter: brightness(0) saturate(100%) invert(14%) sepia(71%) saturate(7355%) hue-rotate(279deg) brightness(68%) contrast(95%);
}

.MyButtonCard{
    width: auto;
    position:relative;
    color: #6F14A1;
    float: left;
}

.MyButtonCard .vertical__center{
    padding-right: 2em;
}

a p{
    margin: 0;
    display: inline;
}


@media (max-width: 1562px) {
    .vertical__center{
        padding: 1em 2em;
        padding-right: 3em;
    }
    
}

@media (max-width: 1300px){
    .vertical__center{
        padding: 9px 21px;
        padding-right: 37px;
    }

    a p{
        margin: 0;
        display: inline;
        font-size: smaller;
    }

    .MyButton__arrow{
        margin: 5px 6px;
    }
}

@media (max-width: 992px){
    .vertical__center{
        padding: 9px 21px;
        padding-right: 37px;
    }

    a p{
        margin: 0;
        display: inline;
        font-size: smaller;
    }

    .vertical__center{
        padding: 8px 12px;
        padding-right: 24px;
    }
}

@media (max-width: 768px){
    
}

@media (max-width: 600px){
    
}



