.companies__main{
    padding: 5em 4em;
}

.companies__container{
    height: 100%;
    border-radius: 20px;
    background-color: #F8F8F8;
    padding: 1.5em;
}

.companies__container p{
    text-align: center;
    color: #656565;
    font-size: 1.2em;
    font-family: 'Poppins';
    margin-bottom: 0px;
}

.companies{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.companies img{
    height: 7em;
}


@media (1382px <= width <= 1650px) {
    
}

@media (992px <= width < 1381px){

}

@media (768px <= width < 991px){

}

@media (600px <= width < 767px){
    
}

@media (480px <= width < 599px){
    
}