.navbar__btns__btn{
    width: 25%;
    text-align: center;
    position:relative;
    top:35%;
}

.navbar__arrow{
    width: 10%;
    position: absolute;
    margin: 0px -25px;
    
}

.navbar__btns__btn .navbar__arrow{
    transform: translateX(0px);
    
    transition: transform 1s ease-in-out;
}

.navbar__btns__btn:hover .navbar__arrow{
    transform: translateX(4px);
}

@keyframes arrow{
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(5px);
    }
}

.navbar__btns__btn a{
    font-family: 'Core Sans A 55 Medium W01 Rg';
    font-size: medium;
    color: black;
    text-decoration: 0;
}


@media (max-width: 1562px) {
    .navbar__arrow{
        margin: 2px -22px;
    }
    
}

@media (max-width: 1300px){
    .navbar__btns__btn{
        width: 25%;
    }
    
    .navbar__arrow{
        width: 10%;
        position: absolute;
        margin: 4px -16px;
    }

    .navbar__btns__btn a{
        font-size: 13px;
    }
}

@media (max-width: 992px){
    .navbar__btns__btn a{
        font-size: 10px;
    }

    .navbar__arrow{
        width: 10%;
        position: absolute;
        margin: 7px -11px;
    }
}

@media (max-width: 768px){
    .navbar__btns__btn:hover .navbar__arrow{
        transform: translateX(2px);
    }
}

@media (max-width: 430px){
    .navbar__btns__btn a{
        font-size: 6px;
    }

    .navbar__btns__btn{
        width: 18%;
        top: 11%;
    }

    .navbar__arrow{
        margin: 10px -7px;
    }
}

@media (max-width: 360px){
    .navbar__btns__btn a{
        font-size: 5px;
    }

    .navbar__arrow{
        margin: 10px -5px;
    }

    .navbar__btns__btn:hover .navbar__arrow{
        transform: translateX(1px);
    }
}
