.navbar__btns__btn{
    width: 25%;
    text-align: center;
    position:relative;
    top:35%;
}

.navbar__arrow{
    width: 10%;
    position: absolute;
    margin: 0px -25px;
    
}

.navbar__btns__btn .navbar__arrow{
    transform: translateX(0px);
    
    transition: transform 1s ease-in-out;
}

.navbar__btns__btn:hover .navbar__arrow{
    transform: translateX(4px);
}

@keyframes arrow{
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(5px);
    }
}

.navbar__btns__btn a{
    font-family: 'Core Sans A 55 Medium W01 Rg';
    font-size: medium;
    color: black;
    text-decoration: 0;
}


@media (1382px <= width <= 1650px) {
    .navbar__arrow{
        margin: 2px -22px;
    }
    
}

@media (992px <= width < 1381px){

}

@media (768px <= width < 991px){

}

@media (600px <= width < 767px){
    
}

@media (480px <= width < 599px){
    
}


