@font-face {
    font-family: "Core Sans A 55 Medium W01 Rg";
    src: url("https://db.onlinewebfonts.com/t/50cf4865106e21b16839208eacda9aca.eot");
    src: url("https://db.onlinewebfonts.com/t/50cf4865106e21b16839208eacda9aca.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/50cf4865106e21b16839208eacda9aca.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/50cf4865106e21b16839208eacda9aca.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/50cf4865106e21b16839208eacda9aca.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/50cf4865106e21b16839208eacda9aca.svg#Core Sans A 55 Medium W01 Rg")format("svg");
}



.navbar{
    overflow: hidden;
    position: relative;
    height: 60px;
}

.navbar img{
    max-height: 100%;
}

.navbar__logo{
    width: 14%;
    max-height: 100%;
}

.navbar__btns{
    width: 50%;
    max-height: 100%;
    display: flex;
    
}

.row{
    display: flex;
    text-align: left;
    max-height: 100%;
}

.navbar__other__btns{
    width: 36%;
    max-height: 80%;
    display: flex;
    flex-direction: row;
    padding: 3px 1px;
    column-gap: 2%;
    justify-content: flex-end;
}

@media (max-width: 1562px) {
    .navbar__other__btns{
        width: 36%;
    }

    .navbar__logo{
        width: 16%;
        max-height: 100%;
    }
  
}


@media (max-width: 1300px){
    .navbar__other__btns{
        width: 50%;
        max-height: 80%;
        display: flex;
        flex-direction: row;
        padding: 11px 1px;
        column-gap: 2%;
        justify-content: flex-end;
    }

    .navbar__logo img{
        width: 90%;
        padding: 14px 0px;
    }

    .navbar__btns{
        width: 73%;
    }

}

@media (max-width: 992px){
    .navbar__logo img{
        padding: 20px 0px;
    }

    .navbar__btns{
        column-gap: 19px;
    }
}

@media (max-width: 768px){
    .navbar__other__btns img{
        margin: 0px 0px -2px 4px;
    }

    .navbar__other__btns{
        padding: 18px 1px;
        width: 27%;
    }

    .navbar__btns{
        width: 70%;
        column-gap: 7px;
    }

    .navbar__logo img{
        padding: 20px 0px;
    }
}

@media (max-width: 430px){
    .navbar__other__btns{
        padding: 9px 0px;
        width: 14%;
        column-gap: 5px;
    }

    .navbar__logo img{
        padding: 5px 0px;
    }

    .navbar{
        height: auto;
    }
}

@media (max-width: 360px){
    .navbar__logo img{
        padding: 10px 0px;
        width: 80%;
    }

    .navbar__other__btns{
        padding: 8px 0px;
        width: 20%;
        column-gap: 3px;
    }

    .navbar__btns{
        column-gap: 9px;
    }
}




