@font-face {
    font-family: "Core Sans A 55 Medium W01 Rg";
    src: url("https://db.onlinewebfonts.com/t/50cf4865106e21b16839208eacda9aca.eot");
    src: url("https://db.onlinewebfonts.com/t/50cf4865106e21b16839208eacda9aca.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/50cf4865106e21b16839208eacda9aca.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/50cf4865106e21b16839208eacda9aca.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/50cf4865106e21b16839208eacda9aca.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/50cf4865106e21b16839208eacda9aca.svg#Core Sans A 55 Medium W01 Rg")format("svg");
}



.navbar{
    overflow: hidden;
    position: relative ;
    height: 60px;
}

.navbar img{
    max-height: 100%;
}

.navbar__logo{
    width: 14%;
    max-height: 100%;
}

.navbar__btns{
    width: 50%;
    max-height: 100%;
    display: flex;
    
}

.row{
    display: flex;
    text-align: left;
    max-height: 100%;
}

.navbar__other__btns{
    width: 36%;
    max-height: 80%;
    display: flex;
    flex-direction: row;
    padding: 3px 1px;
    column-gap: 2%;
    justify-content: flex-end;
}

@media (1382px <= width <= 1650px) {
    .navbar__other__btns{
        width: 36%;
    }

    .navbar__logo{
        width: 16%;
        max-height: 100%;
    }
  
}

@media (992px <= width < 1381px){

}

@media (768px <= width < 991px){

}

@media (600px <= width < 767px){
    
}

@media (480px <= width < 599px){
    
}




