@media (min-width: 1650px){
    .FuncButton{
        width: auto;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 1px;
    }
    
    .FuncButton__arrow{
        height: 1.5em;
        margin-bottom: -7px;
    }
    
    .FuncButton a{
        padding: 15px;
        padding-top: 21px;
    }
    
    .vertical__center{
        padding: 0.9em 1em;
        column-gap: 100%;
    }
    
    
    .func__buttons{
        margin-top: 7em;
        column-gap: 20px;
    }
    
    .FuncButton p{
        padding: 15px;
        padding-top: 21px;
    }
}

.FuncButton{
    width: auto;
    position:relative;
    background: #A412C1;
    color: aliceblue;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 1px;
}

.FuncButton__arrow{
    height: 1.5em;
    position: relative;
    margin-bottom: -7px;
}

.FuncButton a{
    font-family: 'Core Sans A 55 Medium W01 Rg';
    font-size: medium;
    white-space: nowrap;
    padding: 15px;
    position: relative;
    padding-top: 21px;
}

.vertical__center{
    position: relative;
    padding: 0.9em 1em;
    column-gap: 100%;
}


.func__buttons{
    position: absolute;
    display: flex;
    margin-top: 7em;
    column-gap: 20px;
}

.FuncButton p{
    padding: 15px;
    padding-top: 21px;
}


@media (max-width: 1562px) {
    
}

@media (max-width: 1382px){

}

@media (max-width: 992px){

}

@media (max-width: 768px){
    
}

@media (max-width: 600px){
    
}