.comments__main{
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    font-family: 'Poppins', sans-serif !important;
}

.comment{
    width: 87%;
    height: 11em;
    border-radius: 10px;
    background: #F5F5F5;
    padding: 24px;
}

.comment img{
    border-radius: 5px;
    width: 54px;
}

.stats__main{
    display: flex;
    
}

.stats{
    display: block;
    padding-left: 12px;
    flex: 0 0 70%;

}

.stats h3{
    margin: 0;
    padding-bottom: 4px;
    font-weight: normal;
    font-size: 20px;
    color: black;
}

.stats h4{
    margin: 0;
    font-weight: normal;
    font-size: small;
    color: #BCBCBC;
}

.description{
    margin-top: 1em;
    color: #BCBCBC;
}

.date{
    text-align: right;
    flex: 0 0 24%;
    display: flex;
    justify-content: flex-end;
}

.date p{
    margin: 0;
    margin-right:15px;
    color: #BCBCBC;
}


.comment:hover{
    background: linear-gradient(to bottom right, #7511D3, #691A6F);
    color: aliceblue !important;
}

.comment:hover p, .comment:hover h3, .comment:hover h4, .comment:hover .description{
    color: aliceblue ;
}


@media (max-width: 1562px) {
    
}

@media (max-width: 1300px){

}

@media (max-width: 992px){

}

@media (max-width: 768px){
    
}

@media (max-width: 600px){
    
}

@media (max-width: 390px){
    
}